
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: url("./bgpng.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 75%;
  background-size: 90% 65%;
  background-color: rgba(255, 255, 255, 0.466);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.head-title {
  display: flex;
  font-size: 0.8rem;
  width: 100vw;
  text-align: start;
  padding: 0.8rem 1rem;
  background-color: rgb(84, 84, 84);
  color: white;
}
.head-title span{
  color: rgb(74, 204, 227);
}
.head-title i{
  font-size: 1.8rem;
  margin-right: 1rem;
  margin-left: 4rem;
  color: rgb(205, 110, 2);
}
.explorer {
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0rem;
}
.header {
  font-size: 3rem;
  width: 28vw;
}
.searchBar #input,
#btn {
  padding: 0.75rem;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 8px;
}
#input {
  background-color: #fff;
  width: 50vw;
  border: none;
  outline: none;
}
#btn {
  background-color: rgb(26, 197, 26);
  cursor: pointer;
  color: white;
}
#btn:hover {
  background-color: rgb(20, 169, 20);
}

main {
  border-radius: 0.5rem;
  height: 50vh;
  width: 300px;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.566);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgb(98, 91, 91);
}
.profile {
  display: flex;
  align-items: start;
  margin-bottom: 0.75rem;
}
.img {
  width: 3.5rem;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 1rem;
}
.user {
  padding: 4px;
  border-radius: 4px;
}
.bio {
  margin-bottom: 6px;
}
.connections {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 10px;
}
.followers,
.following {
  display: flex;
  flex-direction: row-reverse;
}
.followers {
  margin-right: 3rem;
}
.followers strong,
.following strong {
  margin-right: 8px;
}
.names {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hr {
  border-top: 1px solid black;
}
.repoName,
.repoBio {
  padding-top: 6px;
}
#main {
  display: none;
}
